@CHARSET "UTF-8";


*{
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size : 1em;
}

html {	
	background-image: url(../../images/background.png);
	background-repeat: no-repeat;
	background-size : cover;
}

body{
	width : 80%;
	max-width : 80%;
	min-height : 800px;
	margin : auto;
	text-align : justify;
}

.blueText,
a.blueText,
a.blueText:VISITED{
	color : #4884a4;
}

a.underlineLink {
	text-decoration: underline;	
}

hr{
	border: 1px solid black;
	width: 80%;
	margin-top: 5%;
}

.pointer {
	cursor : pointer;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.ui-dialog{
	font-size : 0.8em;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {	
	background-color: #4884a4;
 	box-shadow:1px 1px 1px #4884a4;
	color : #FFFFFF;
	height : 27px;
	cursor : pointer;
}

select{
	background-color: #FFFFFF;
 	box-shadow:1px 1px 1px #4884a4;
	color : #2f488c;
	height : 27px;
}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active {	
	background-color: #FFFFFF;
 	box-shadow:1px 1px 1px #4884a4;
	color : #4884a4;
	height : 27px;
}

button:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled{
    background-color: #9e9e9e;
    cursor: default;
}

input[type=text],input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #4884a4;
}
 
input[type=text]:focus,input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

fieldset {
	border-color: #4884a4;
}

legend{
	color : #4884a4;
}

/* entete */
#entete{
	padding-top : 2%;
	padding-left : 1%;
	padding-right : 1%;
	height : 10%;
}

#entete_user{
	display: inline-block;
}

#entete_deconnexion{
	display : inline-block;
	float : right;
}

/* milieu de page */
#milieu {
	margin-top : 3%;
	min-height : 750px;
	width : 100%;
}

/* menu */
#menu {
	display: inline-block;
	float : left;
	width : 15%;
	margin-top: 2%;
}

#menu ul{
	width : 100%;
	border-top: 1px solid #508fde;
	margin: 0px;
	padding : 0px;
}

#menu ul li{
	list-style-type : none;
	background: none repeat scroll 0% 0% #A9C8EF;
	border-bottom: 1px solid #508fde;
	margin: 0px;
	padding-top : 4px;
	padding-bottom : 4px;
	padding-left : 2px;
	width : 100%;
}

#menu ul li a {
	text-decoration: none;
	color : black;
}

#menu ul li:HOVER {
	background-color: #d8d8d8;
}

#menu ul li.active {
	background-color: white;
}

/* corps de page */
#corps{	
	display: inline-block;
	margin-left : 1%;
	border-top : 2px solid black;
	border-bottom : 2px solid black;
	border-right : 2px solid black;
	border-left : 1px solid black;
	width : 83%;
	min-height : 750px;
	height : 750px;
}

#titre{
	text-align : center;
	height : 5%;
}

#titre h1 {
	font-size : 1.3em;
}

#contenu{
	padding-top : 1%;
	padding-bottom : 1%;
	padding-left : 2%;
	padding-right : 2%;
	height : 95%;
	font-size : 0.8em;
}


/* pied de page */
#pied{
	margin-top : 2%;
	height : 10%;
	font-size : 0.8em;
	font-style: italic;
}
