@CHARSET "UTF-8";

/* css for timepicker */
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }

#div_choix_test {
    width: 70%;
    display: inline-block;
    height: 100%;
    padding-top: 3%;
}

#btn_ajout_plage_horaire {
    float: right;
    margin-top: 85px;
    width : 25%;
}

#div_tests_selectionnes{
    width: 80%;
    display: inline-block;
    height: 100%;
    padding-top: 3%;	
}

#btn_supprimer_plage_horaire{
    width: 15%;
    float: right;
    margin-top: -75px;	
}

#div_tests_selectionnes {
    width: 80%;
    display: inline-block;
    height: 100%;
    padding-top: 0;
}

a:link{
	text-decoration:none
}