@CHARSET "UTF-8";


/************************/
/***** REFERENTIEL ******/
/************************/
#gestion_referentiel{
	height : 100%;
}

#div_theme{
	width : 100%;
	height : 4%;
}

#div_select_theme{
	width : 30%;
	height : 100%;
	display: inline-block;
}

#themes{
	width : 100%;
	height : 100%;
}

#div_gestion_theme{
	display : inline-block;
	margin-left : 15%;
}

#div_questions_theme{
	width : 48%;
	display: inline-block;
	height : 90%;
	margin-top : 4%;
}

#div_btn_question{
	text-align: center;
}

#div_btn_question input{
	margin-top : 6px;
}

#div_details_question{
	width : 48%;
	margin-top : 4%;
	display : inline-block;
	float : right;
	height : 90%;
}

#div_questions_theme fieldset{
	height : 85%;
}

#div_details_question fieldset{
	height : 96%;
}

.inline_div_reponse{
	width: 100%;
	margin-top: 5%;
}

.inline_div_reponse textarea{
	width : 100%;
	resize : none;
	min-height : 70px;
	height : 100%;
	font-size: 0.8em;
}

#div_reponses_question{
	min-height : 100px;
	max-height : 100px;
	overflow-y : auto;
}

.reponse{
	width : 100%;
	margin-top : 2%;
}

.reponse input[type="text"]{
	width : 80%;
	margin-right : 5%;
	margin-left : 1%;
}

#select_change_theme{
	width : 100%;
}


/************************/
/**** GESTION TESTS *****/
/************************/

#div_lst_tests{
	display: inline-block;
	width : 48%;
	float: left;
	margin-right: 2%;
	height : 100%;
}

#div_details_tests{
	display: inline-block;
	width : 48%;
	height : 100%;
}

.titre_form{
	text-align: center;
	font-weight: bold;
	height : 5%;
}

#table_lst_test{
	margin-bottom : 3%;
}

#table_lst_test_wrapper{
	margin-bottom: 10%;
	height : 85%;
}

.border_div{
	height : 90%;
	border : 1px solid black;
	padding : 1%;
}

#titre_test{
	text-align: center;
	font-weight: bold;
	height : 5%;
	padding-top : 4%;
}

#plages_horaires_test{
	height : 15%;
	overflow : auto;
	border : 2px solid black;
	margin-top : 1%;
	margin-bottom : 5%;
}

.plage_horaire_test {
	margin : 1%;
}

.inline_details_test{
	height : 5%;
	margin-top : 2%;
	margin-bottom : 2%;
}

#sections{
	height : 25%;
}

.section{
	margin-top : 3%;
	margin-bottom : 3%;	
}

.nb_questions_section{
	margin-left : 5%;
}

/********************************************/
/********** PAGE GERER LES TESTS ************/
/********************************************/

#formGererTest{
	height : 80%;
}

#formGererTest fieldset {
	width : 80%;
	margin : auto;
	height : 30%;
	margin-top : 2%;
}

#div_buttons_gerer_test{
	width : 80%;
	margin : auto;
	margin-top : 2%;
	/* text-align: center; */
}

#div_buttons_gerer_test input {
	margin-left : 12%;
}

.inline_infos{
	margin-top : 1%;
}

#div_infos_test{
	width : 70%;
	margin : auto;
	height : 96%;
	padding : 1%;
	margin-top : 2%;
}

#div_infos_test label {
	display : inline-block;
	margin-right : 2%;
	min-width : 141px;
}

#label_nom {
	min-width : 0px !important;
}

#nom{
	width : 80%;
}

#div_infos_test input[type="number"]{
	width : 50px;
}

.inline_block_infos_left{
	display : inline-block;
	width : 50%;
}

.inline_block_infos_right{
	display : inline-block;
	width : 50%;
	float : right;
}

#sections_test{
	width : 90%;
	margin : auto;
	margin-bottom : 2%;
	height: 70%;
	max-height: 70%;
	overflow-y: auto;
}

.section_test{
	width : 100%;
	margin-top : 2%;
}

.div_select_theme_section {
	display : inline-block;
	width : 50%;	
}


.div_nb_questions_sections{
	display : inline-block;
	width : 50%;
	float : right;
}

.div_select_theme_section select{
	width : 80%;
}

.div_nb_questions_sections input[type="number"]{
	width : 50px;
}


#gestion_plage_horaire {
	width : 40%;
	display : inline-block;
	height : 100%;
	padding-top : 3%;
}

#gestion_plage_horaire label {
	min-width : 50px;
	margin-right : 1%;
	display : inline-block;
}

.inline_dtp{
	height : 30%;
}

#div_lst_plages_horaires{
	width : 55%;
	display : inline-block;
	float : right;
}

.valide_nb_questions{
	display : inline-block;
}


/****************************************************************/
/*********************** PASSER UN TEST *************************/
/****************************************************************/

/* SELECTION DU TEST */

#div_form_selection_test{
	width : 30%;
	margin : auto;
	margin-top : 20%;
}

#div_select_test{
	width : 100%;	
}

#div_lancer_test{
	width : 50%;
	margin : auto;
	margin-top : 10%;
}

#tests{
	width : 100%;
}


/* PASSER UN TEST */

#passerTest{
	height : 85%;
}

#formQuestionTest {
	margin-top : 10%;
	margin-bottom : 5%;
	height : 75%;
	padding-left : 5%;
}

#reponses{
	margin-left : 5%;
	margin-bottom : 10%;
	min-height : 50%;
}

#action{
	text-align: right;
	margin-right: 10%;
}

#action input[type=button]{
	margin-left : 10%;
}

.historique_questions{
	margin-left : 1%;
}

.historique_questions{
	font-size : 1em;
}

.question_encours{
	font-weight: bold;
	font-size : 1.1em;
}

.question_marquee{
	color : red !important;
}

#recap_questions {
    min-height: 60%;
    overflow: auto;
    margin-left: 10%;
}

#recap_questions a {
	display: inline-block;
	width: 100%;
	margin-top: 2%;
}


/**********************************************/
/**************** PAGE RESULTATS **************/
/**********************************************/

#lst_resultats_questions{
	width: 45%;
	border: 1px solid black;
	height: 85%;
	margin-top: 5%;
	display : inline-block;
}

#charts_resultats_question{
	width: 50%;
	border: 1px solid black;
	height: 85%;
	margin-top: 5%;
	display : inline-block;
	margin-left : 3%;
	float : right;
}

#details_resultat {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
}