@CHARSET "UTF-8";

/* css for timepicker */
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }

#gestion_plage_horaire_inscription {
    height: 100%;
}