@CHARSET "UTF-8";

*{
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
}

html{
	background-color: #FFFFFF;
}

body{
	width : 80%;
	max-width : 80%;
	min-height : 800px;
	/* background-color : #98b5d8; */
	margin : auto;
	text-align : justify;
}

.blueText,
a.blueText,
a.blueText:VISITED{
	color : #5f96fc;
}

/* entete */
#entete{
	padding-top : 2%;
	padding-left : 1%;
	padding-right : 1%;
	height : 10%;
}

#entete_user{
	display: inline-block;
}

#entete_deconnexion{
	display : inline-block;
	float : right;
}

/* milieu de page */
#milieu {
	margin-top : 3%;
	min-height : 700px;
	width : 100%;
}

/* menu */
#menu {
	display: inline-block;
	float : left;
	width : 15%;
	margin-top: 2%;
}

#menu ul{
	width : 100%;
	border-top: 1px solid rgb(204, 204, 204);
	margin: 0px;
	padding : 0px;
}

#menu ul li{
	list-style-type : none;
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	border-bottom: 1px solid rgb(204, 204, 204);
	margin: 0px;
	padding-top : 4px;
	padding-bottom : 4px;
	width : 100%;
}

#menu ul li a {
	text-decoration: none;
	color : black;
}

#menu ul li:HOVER {
	background-color: #808080;
}

#menu ul li.active {
	background-color: white;
}


/* corps de page */
#corps{	
	display: inline-block;
	margin-left : 1%;
	border-top : 2px solid black;
	border-bottom : 2px solid black;
	border-right : 2px solid black;
	border-left : 1px solid black;
	width : 83%;
	min-height : 700px;
	height : 700px;
}

#titre{
	text-align : center;
	height : 10%;
}

#titre h1 {
	font-size : 1.5em;
}

#contenu{
	padding-top : 1%;
	padding-bottom : 1%;
	padding-left : 2%;
	padding-right : 2%;
	height : 85%;
}


/* pied de page */
#pied{
	margin-top : 2%;
	height : 10%;
	font-size : 0.8em;
	font-style: italic;
}


/************************/
/***** REFERENTIEL ******/
/************************/
#gestion_referentiel{
	height : 100%;
}

#div_theme{
	width : 100%;
	height : 4%;
}

#div_select_theme{
	width : 30%;
	height : 100%;
	display: inline-block;
}

#themes{
	width : 100%;
	height : 100%;
}

#div_gestion_theme{
	display : inline-block;
	margin-left : 15%;
}

#div_questions_theme{
	width : 48%;
	display: inline-block;
	height : 90%;
	margin-top : 4%;
}

#div_btn_question{
	text-align: center;
}

#div_btn_question input{
	margin-top : 6px;
}

#div_details_question{
	width : 48%;
	margin-top : 4%;
	display : inline-block;
	float : right;
	height : 90%;
}

#div_questions_theme fieldset{
	height : 85%;
}

#div_details_question fieldset{
	height : 96%;
}

.inline_div_reponse{
	width: 100%;
	margin-top: 5%;
}

.inline_div_reponse textarea{
	width : 100%;
	resize : none;
}

#div_reponses_question{
	min-height : 100px;
	max-height : 100px;
	overflow-y : auto;
}

.reponse{
	width : 100%;
	margin-top : 2%;
}

.reponse input[type="text"]{
	width : 80%;
	margin-right : 5%;
	margin-left : 1%;
}
